/* RandomQuoteMachine.module.css */

/* Root container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Quote box styles */
.quoteBox {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px black;
  background-color: #e0e0e0;
}

/* Quote text styles */
.text {
  width: 75%;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

/* Extra actions container styles */
.extraActions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* Tweet quote styles */
.tweetQuote {
  border: 2px solid black;
  border-radius: 8px;
}

/* New quote button styles */
.newQuote {
  background-color: #e0e0e0;
  border-radius: 8px;
}

/* Shared styles for tweet quote and new quote button */
.tweetQuote,
.newQuote {
  box-shadow: 3px 3px 3px black;
}
