/* MarkdownPreviewer.module.css */

/* Container styling */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

/* Editor and previewer container styling */
.editorContainer,
.previewerContainer {
}

.editorContainer {
  height: 50%;
  margin-bottom: 30px;
}

/* Textarea styling */
.textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: monospace;
  font-size: 1em;
  box-sizing: border-box;
  resize: none;
  outline: none;
  background-color: #e0e0e0;
  border: 3px solid black;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Preview styling */
.preview {
  width: 575px;
  background-color: #e0e0e0;
  border: 3px solid black;
  text-align: justify;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Title styling */
.title {
  font-size: 1.5rem;
  border: 3px solid black;
  border-bottom: none;
  text-align: center;
}
