/* DrumMachine.module.css */

/* Container styling */
.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Instrument display styling */
.instrumentDisplay {
  font-size: 1.5rem;
}

/* Drum pad container styling */
.drumPadContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
}

/* Drum pad styling */
.drumPad {
  background-color: #69a297;
  border: 1px solid #000000;
  box-shadow: black 3px 3px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}
